<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not item %}
        <p>The product with id {{id}} does not exist in the database.</p>
    {% else %}
        <h1>Details for Grocery Item #{{item.id}}</h1>
        <p>Item Name: {{item.item_name}}</p>
        <p>Category: {{item.category}}</p>
        <p>Status: {{item.status}}</p>
        <p>Date Created: {{item.date_created}}</p>
    {% endif %}
</body>
</html>