<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if items|length == 0 %}
        <p>No grocery items have been added.</p>
    {% else %}
        <ul>
            {% for item in items %}
                <li><a href="{{item.id}}/">{{ item.item_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>