<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if todoitem_list %}
        <ul>
            {% for todoitem in todoitem_list %}
                <li>
                    <a href="{{todoitem.id}}/">{{ todoitem.task_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Tasks have been created.</p>
    {%endif %}
</body>
</html>